<div class="foodrazor-navbar">
  <div class="notifications-counter-wrapper">
    <div *ngIf="notificationsCounter" class="counter">{{notificationsCounter | notificationCount}}</div>
    <fa class="icon" name="bell-o"></fa>
  </div>
  <div class="profile-wrapper">
    <img [src]="user.image" class="profile-image" />

    <div class="profile-data-wrapper" (click)="onCompaniesExpand()">
      <div class="profile-data">
        <div class="name">{{user.name}}</div>
        <div class="selected-company-name">{{selectedCompany.name}}</div>
      </div>
      <span class="open-arrow-wrapper">
        <fa name="chevron-down"></fa>
      </span>
    </div>
    <div *ngIf="isCompaniesExpanded" class="companies-list-wrapper">
      <div class="companies-list">
        <div *ngFor="let company of companies" [ngClass]="{company: true, selected: company.id === selectedCompanyId}" (click)="onCompanyClick(company.id)">
          {{company.name}}
        </div>
      </div>
    </div>
  </div>
</div>
<dropdown-close *ngIf="isCompaniesExpanded" (onClick)="onCompaniesCollapse()"></dropdown-close>