@import "../../../../assets/styles/colors";

.foodrazor-navbar {
  display: flex;
  width: 100%;
  height: 63px;
  z-index: 1;
  background: $navbar-background;
  box-shadow: 0 3px 3px 0 $navbar-shadow;

  .notifications-counter-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px 10px 20px auto;

    .counter {
      position: absolute;
      left: -5px;
      top: -5px;
      color: $notification-counter-color;
      background: $notification-counter-background;
      border-radius: 15px;
      text-align: center;
      width: 15px;
      height: 15px;
      font-size: 11px;
      line-height: 15px;
    }

    .icon {
      font-size: 1.2em;
      color: $notification-counter-icon-color;
    }
  }

  .profile-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    font-size: 0.9em;
    margin-right: 10px;
    margin-left: 20px;
    width: 200px;
    color: $font-color;

    .profile-image {
      height: 40px;
      border-radius: 50px;
    }

    .profile-data-wrapper {
      display: flex;
      flex: 1;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      .profile-data {
        margin-left: 20px;
        font-size: 0.95em;
        z-index: 3;

        .name {
          font-weight: 500;
        }

        .selected-company-name {
          padding-top: 3px;
          font-weight: 300;
          font-size: 0.9em;
        }
      }

      .open-arrow-wrapper {
        font-weight: 100;
        font-size: 0.8em;
        margin-left: auto;
        margin-right: 10px;
      }
    }

    .companies-list-wrapper {
      position: absolute;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 72px;
      border: 1px solid $border-color;
      background: $background-white;
      border-radius: 3px;
      z-index: 3;

      &:before, &:after {
        content: '';
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 8px 6px;
      }

      &:before {
        top: -8px;
        border-color: transparent transparent $border-color transparent;
      }

      &:after {
        top: -6px;
        border-color: transparent transparent $background-white transparent;
      }

      .companies-list {
        max-height: 190px;
        overflow-y: auto;

        .company {
          color: $navbar-companies-list-color;
          padding: 5px 15px;
          font-weight: 400;
          font-size: 0.85em;

          &:hover {
            cursor: pointer;
            color: $navbar-companies-list-color-hover;
          }
        }

        .selected {
          background: $background-white-selected;
        }
      }
    }
  }
}