@import "../../../../assets/styles/colors";

.button-wrapper {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background: $background-button;

  &:hover {
    cursor: pointer;
  }

  .text {
    font-size: 0.85em;
    font-weight: 600;
    padding: 10px 25px;
  }
}

.button-style-grey {
  border-color: $border-color;
  background: $background;
  color: $font-color;

  &:hover {
    background: $border-color;
  }
}

.button-style-grey-filled {
  border-color: $border-color;
  background: $background-button;
  color: $font-color;

  &:hover {
    background: $border-color;
  }
}

.button-style-green {
  border-color: $background-green;
  background: $background;
  color: $background-green;

  &:hover {
    background: $background-green;
    color: $font-color-white;
  }
}

.button-style-green-filled {
  border-color: $background-green;
  background: $background-green;
  color: $font-color-white;

  &:hover {
    border-color: $background-green-selected;
    background: $background-green-selected;
  }
}

.button-style-footer-grey {
  border-color: $border-color-grey;
  background: $background-grey-light;
  color: $border-color-grey;

  &:hover {
    border-color: $border-color-grey-hover;
    background: $border-color-grey-hover;
    color: $font-color-white;
  }

  .text {
    font-weight: 400;
  }
}

.button-style-footer-green {
  border-color: $background-green;
  background: $background-green;
  color: $font-color-white;

  &:hover {
    border-color: $background-green-selected;
    background: $background-green-selected;
  }

  .text {
    font-weight: 400;
  }
}