<div class="other-instructions-wrapper">
  <textarea class="text" rows="{{rows}}" (blur)="onTextAreaBlur($event)"></textarea>
  <div *ngIf="isPlaceholderShown" class="placeholder" (click)="onPlaceholderClick()">
    <p *ngFor="let placeholder of placeholderData">
      <span class="dot">·</span>{{placeholder}}
    </p>
  </div>
</div>