@import "../../../../assets/styles/colors";

$width: 400px;

.other-instructions-wrapper {
  position: relative;

  .text {
    width: $width;
    height: 100%;
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 8px 30px;
    outline: none;
    background: none;
    font-size: 0.9em;
    font-weight: 100;
    resize: none;
    box-sizing: border-box;
  }

  .placeholder {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    width: $width;
    color: $font-color-grey;
    font-size: 0.9em;
    padding: 0 30px 5px 30px;

    &:hover {
      cursor: pointer;
    }

    p {
      margin: 2px 0;

      .dot {
        font-weight: 900;
        margin-right: 20px;
      }
    }
  }
}
