@import "../../../../assets/styles/colors";

.date-select-wrapper {
  display: flex;
  flex-direction: row;
  width: 250px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background: $background-white;
  overflow: hidden;

  .calendar-button {
    flex: 0;
    background: $background-button;
    border-right: 1px solid $border-color;
    padding: 5px 10px;

    .calendar-icon {
      font-size: 1.3em;
    }
  }

  .date-field {
    flex: 1;
    font-size: 0.9em;
    text-align: center;
    line-height: 35px;
  }
}