@import "../../../../assets/styles/colors";

.recent-order-select-wrapper {
  position: relative;
  width: 400px;

  .select-wrapper {
    position: relative;
    width: 100%;
    height: 34px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: $background;
    color: $font-color-grey;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 0.9em;
      font-weight: 400;
      padding: 9px 0;
    }

    .carets-wrapper {
      position: absolute;
      display: flex;
      right: 0;
      padding: 5px 10px;
      flex-direction: column;
      height: 20px;

      fa {
        height: 8px;
        font-size: 0.7em;
      }
    }
  }

  .expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 6;
  }

  .orders-dropdown-wrapper {
    position: absolute;
    background: $background-white;
    box-shadow: 0 0 3px 1px $border-color;
    border: 1px solid $border-color;
    border-top: none;
    z-index: 5;
    width: 100%;
    font-size: 0.8em;
    box-sizing: border-box;

    .headers-wrapper {
      font-weight: 500;
      display: flex;
      padding: 15px 20px 10px 20px;
      margin-right: 5px;
      color: $font-header-color;

      .header {
        text-align: left;
      }

      .order-number {
        flex: 1;
      }

      .order-date {
        flex: 1;
      }

      .order-total {
        margin-left: auto;
        width: 15%;
      }
    }

    .list-wrapper {
      height: calc(46px * 5);
      overflow-y: auto;

      .order {
        display: flex;
        flex-direction: row;
        padding: 15px 20px;
        font-weight: 100;
        border-bottom: 1px solid $border-color-light;

        &:hover {
          cursor: pointer;
          color: $font-color-blue;
        }

        &:last-child {
          border-bottom: none;
        }

        .cell {
          display: flex;
          text-align: left;
        }

        .order-number {
          flex: 1;
        }

        .order-date {
          flex: 1;
        }

        .order-total {
          margin-left: auto;
          width: 15%;
        }
      }

      .selected {
        background: $background-white-selected;

        &:hover {
          color: inherit;
        }
      }
    }

    .count-wrapper {
      color: $font-color-grey;
      padding: 15px 20px;
    }
  }
}