<div class="recent-order-select-wrapper">
  <div [ngClass]="{'select-wrapper': true, expanded: isDropdownVisible}" class="select-wrapper" (click)="onDropdownVisibilityToggle()">
    <div class="text">{{selectPlaceholder}}</div>
    <div class="carets-wrapper">
      <fa name="caret-up"></fa>
      <fa name="caret-down"></fa>
    </div>
  </div>
  <div *ngIf="isDropdownVisible" class="orders-dropdown-wrapper">
    <div class="headers-wrapper">
      <div class="header order-number">Order No.</div>
      <div class="header order-date">Delivery Date</div>
      <div class="header order-total">Total</div>
    </div>
    <div class="list-wrapper">
      <div [ngClass]="{order: true, 'selected': item.id === selectedId}" *ngFor="let item of items" (click)="onItemClick(item.id)">
        <div class="cell order-number">{{item.orderNumber}}</div>
        <div class="cell order-date">{{item.deliveryDate}}</div>
        <div class="cell order-total">{{item.total | currency:'USD':'symbol-narrow'}}</div>
      </div>
    </div>
    <div class="count-wrapper">{{totalCounterText}}</div>
  </div>
</div>
<dropdown-close *ngIf="isDropdownVisible" (onClick)="onClose()"></dropdown-close>
