<div [ngClass]="{'step-number-wrapper': true, 'step-completed': isCompleted, 'last-step-number': isLast}">
  <fa *ngIf="isCompleted" class="completed" name="check"></fa>
  <span *ngIf="!isCompleted">{{number}}</span>
</div>