@import "../../../../assets/styles/colors";

.step-number-wrapper {
  position: absolute;
  left: -12px;
  top: 0;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 5px $background;
  color: $font-color-blue;
  border: 1px solid $font-color-blue;
  border-radius: 30px;
  background: $background;
  font-size: 0.9em;
  font-weight: 600;
  z-index: 100;
}

.step-completed {
  background: $background-completed;
  border-color: $background-completed;
  color: $background
}

.last-step-number {
  top: auto;
  bottom: 0;
}
