@import "../../../../assets/styles/colors";

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $font-header-color;
  font-weight: 400;
  padding-top: 10px;

  .header {
    font-weight: 400;
  }

  .label {
    font-weight: 100;
    font-size: 0.5em;
    padding: 3px 10px;
    border-radius: 4px;
    margin-left: 20px;
    border-width: 1px;
    border-style: solid;
  }

  .label-grey {
    border-color: $label-grey-color;
    background: $background;
    color: $label-grey-color;
  }

  .label-grey-filled {
    border-color: $label-grey-color;
    background: $label-grey-color;
    color: $font-color-white;
  }

  .label-green {
    border-color: $background-green;
    background: $background;
    color: $background-green;
  }

  .label-green-filled {
    border-color: $background-green;
    background: $background-green;
    color: $font-color-white;
  }
}
