<div class="side-menu-wrapper">
  <div class="brand-wrapper">
    <img src="assets/images/brand.png" />
  </div>
  <div class="top-menu-items-wrapper menu-items-wrapper">
    <ng-container *ngFor="let item of topItems">
      <a class="menu-item" [routerLink]="[item.uri]" [routerLinkActive]="'menu-item-active'">
        <fa *ngIf="item.iconBefore" class="menu-icon" name="{{item.iconBefore}}"></fa>
        {{item.title}}
        <fa *ngIf="item.iconAfter" class="menu-icon-after" name="{{item.iconAfter}}"></fa>
      </a>
    </ng-container>
  </div>
  <div class="bottom-menu-items-wrapper menu-items-wrapper">
    <ng-container *ngFor="let item of bottomItems">
      <a class="menu-item" [routerLink]="[item.uri]" [routerLinkActive]="'menu-item-active'">
        <fa *ngIf="item.iconBefore" class="menu-icon" name="{{item.iconBefore}}"></fa>
        {{item.title}}
        <fa *ngIf="item.iconAfter" class="menu-icon-after" name="{{item.iconAfter}}"></fa>
      </a>
    </ng-container>
  </div>
</div>