@import "../../../../assets/styles/colors";

:host {
  background: $side-menu-background;
}

.side-menu-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 2;
  min-height: 100vh;
  height: 100%;
  font-weight: 400;
  font-size: 0.85em;

  .brand-wrapper {
    padding: 11px 35px;
  }

  .top-menu-items-wrapper {
    border-top: 1px solid $side-menu-border-color;
    border-bottom: 1px solid $side-menu-border-color;
  }

  .bottom-menu-items-wrapper {}

  .menu-items-wrapper {
    display: flex;
    flex-direction: column;

    .menu-item {
      display: block;
      padding: 16px 35px;
      color: $side-menu-font-color-disabled;
      text-decoration: none;
      font-size: 0.95em;

      &:hover {
        color: $side-menu-font-color-hover;
        cursor: pointer !important;
      }

      .menu-icon {
        display: inline-block;
        font-size: 1.1em;
        width: 20px;
      }

      .menu-icon-after {
        float: right;
        font-size: 0.9em;
        line-height: 1.6em;
      }
    }

    .menu-item-active {
      color: $side-menu-font-color;
      background: $side-menu-active-background;

      &:hover {
        color: $side-menu-font-color-active-hover;
        cursor: pointer;
      }
    }
  }
}
