<div class="delivery-address-wrapper">
  <div class="label-wrapper" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave($event)">
    <span class="text">Delivery Address:</span>
      <span class="icon-wrapper">
      <fa class="icon" name="info"></fa>
    </span>
  </div>
  <div *ngIf="isDropdownVisible" class="address-dropdown" (mouseleave)="onMouseLeave($event)">
    <div class="address">{{address}}</div>
    <div class="block">
      <div class="label">Main Contact:</div>
      <div class="email">{{mainEmail}}</div>
      <div class="address">{{phoneNumber}}</div>
    </div>
    <div class="block">
      <div class="label">CC emails:</div>
      <div class="emails-list">
        <div class="email" *ngFor="let email of ccEmails">{{email}}</div>
      </div>
    </div>
  </div>
</div>