@import "../../../../assets/styles/colors";

.delivery-address-wrapper {
  display: inline;
  position: relative;
  bottom: 0;

  &:hover {
    cursor: pointer;

    .icon-wrapper {
      color: $font-color-green !important;
      border-color: $font-color-green !important;
    }
  }

  .label-wrapper {
    .text {
      display: inline-block;
      font-weight: 400;
      padding-bottom: 10px;
      font-size: 0.95em;
    }

    .icon-wrapper {
      display: inline-block;
      border-radius: 50px;
      border: 1px solid $font-header-color;
      text-align: center;
      line-height: 20px;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      background: $background;

      .icon {
        font-size: 0.8em;
      }
    }
  }

  .address-dropdown {
    position: absolute;
    background: $background-white;
    width: 230px;
    padding: 20px;
    font-weight: 200;
    font-size: 0.8em;
    box-shadow: 0 0 5px 0 $border-color;
    z-index: 5;

    &:hover {
      cursor: default;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 8px 6px;
    }

    &:before {
      top: -8px;
      border-color: transparent transparent $border-color-light transparent;
    }

    &:after {
      top: -6px;
      border-color: transparent transparent $background-white transparent;
    }

    .address {
      text-transform: uppercase;
    }

    .block {
      .label {
        font-weight: 400;
        padding: 20px 0 5px 0;
      }

      .email {

      }

      .address {

      }

      .emails-list {
        .email {

        }
      }
    }
  }
}
