<div class="create-order-wrapper">
  <page-header text="Create Order" labelText="Draft" [style]="styles.GreyFilled"></page-header>
  <div class="form-wrapper">
    <div class="step first-step">
      <step-number [isCompleted]="!!selectedSupplier" [number]="1"></step-number>
      <div class="left-fields">
        <div class="suppliers-wrapper">
          <div class="label">* Supplier</div>
          <supplier-select (onSelect)="onSupplierSelect($event)"></supplier-select>
        </div>
        <div class="orders-wrapper">
          <recent-order-select></recent-order-select>
        </div>
      </div>
      <div class="right-fields">
        <div class="label">Other instructions:</div>
        <div class="other-instructions-wrapper">
          <other-instructions-textarea [rows]="5" [isPlaceholderVisible]="!!selectedSupplier"></other-instructions-textarea>
        </div>
      </div>
      <div class="print rightest-block">
        <div class="label">Print</div>
        <print></print>
      </div>
    </div>
    <div class="step second-step">
      <step-number [isCompleted]="false" [number]="2"></step-number>
      <div class="left-fields">
        <div class="label">* Delivery Date:</div>
        <div class="delivery-date-wrapper">
          <date-select></date-select>
          <foodrazor-button text="Tomorrow" [style]="styles.GreyFilled"></foodrazor-button>
        </div>
      </div>
      <div class="right-fields">
        <delivery-address-dropdown [data]="deliveryAddress"></delivery-address-dropdown>
      </div>
      <div class="rightest-block"></div>
    </div>
    <div class="step third-step">
      <step-number [isCompleted]="false" [number]="3" [isLast]="true"></step-number>
      <div class="add-product">
        <add-product></add-product>
      </div>
    </div>
  </div>
  <div class="legend">
    <div class="step">
      Step <span class="bold">1</span>. Firstly, <span class="bold">Select a supplier.</span> You may choose to select <span class="bold">Recent Order</span> to retrieve products from your order lists
    </div>
    <div class="step">
      Step <span class="bold">2</span>. Set your delivery date
    </div>
    <div class="step">
      Step <span class="bold">3</span>. Click on <span class="bold">ADD PRODUCT</span> to add products to order list
    </div>
    <div class="step">
      * Required fields
    </div>
  </div>
</div>
<div class="footer">
  <foodrazor-button text="CANCEL" [style]="styles.FooterGrey"></foodrazor-button>
  <foodrazor-button text="SAVE AS DRAFT" [style]="styles.FooterGrey"></foodrazor-button>
  <foodrazor-button text="SEND" [style]="styles.FooterGreen"></foodrazor-button>
  <foodrazor-button text="SEND & NEW" [style]="styles.FooterGreen"></foodrazor-button>
</div>