@import "../../../../assets/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 63px);
}

.create-order-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 20px;

    .step {
      position: relative;
      display: flex;
      flex-direction: row;
      padding-left: 50px;
      margin-left: 10px;
      border-left: 2px solid $border-color-light;

      .label {
        font-weight: 400;
        padding-bottom: 10px;
        font-size: 0.95em;
      }

      .step-number {
        position: absolute;
        left: -12px;
        top: 0;
        text-align: center;
        line-height: 20px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 5px $background;
        color: $font-color-blue;
        border: 1px solid $font-color-blue;
        border-radius: 30px;
        background: $background;
        font-size: 0.9em;
        font-weight: 600;
        z-index: 4;
      }

      .last-step-number {
        top: auto;
        bottom: 0;
      }

      .left-fields {

      }

      .right-fields {
        margin-left: 20px;
      }

      .rightest-block {
        width: 100px !important;
      }
    }

    .first-step {
      .left-fields {
        display: flex;
        flex-direction: column;
        flex: 1;

        .suppliers-wrapper {}

        .orders-wrapper {
          margin: 35px 0 25px 0;
        }
      }

      .right-fields {
        flex: 1;
      }

      .print {
        text-align: center;
      }
    }

    .second-step {
      .left-fields {
        display: flex;
        flex-direction: column;
        flex: 1;

        .delivery-date-wrapper {
          display: flex;
          flex-direction: row;
          width: 400px;

          date-select {
            flex: 1;
          }
        }
      }

      .right-fields {
        flex: 1;
        margin-top: auto;
      }
    }

    .third-step {
      .add-product {
        padding-top: 40px;
      }
    }
  }

  .legend {
    color: $font-color-grey;
    border-color: $font-color-grey;
    border-style: dashed;
    border-width: 1px;
    font-size: 0.85em;
    padding: 10px 0;

    .step {
      padding: 10px 30px;

      .bold {
        font-weight: 400;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  margin-top: auto;
  background: $background-grey-light;
  width: 100%;
  height: 63px;

  foodrazor-button {
    display: flex;
    align-items: center;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 30px;
    }

    .text {
      font-weight: 300;
    }
  }
}
