<div class="supplier-select-wrapper">
  <div [ngClass]="{'select-wrapper': true, expanded: isDropdownVisible}" class="select-wrapper" (click)="onDropdownVisibilityToggle()">
    <div class="text">{{selectPlaceholder}}</div>
    <div class="carets-wrapper">
      <fa name="caret-up"></fa>
      <fa name="caret-down"></fa>
    </div>
  </div>
  <div *ngIf="isDropdownVisible" class="suppliers-dropdown-wrapper">
    <div class="supplier-input-wrapper">
      <input [ngModel]="inputValue" [placeholder]="inputPlaceholder" (ngModelChange)="onInputChange($event)" />
    </div>
    <div class="results-wrapper">
      <div [ngClass]="{supplier: true, 'selected': supplier.id === selectedSupplierId}" *ngFor="let supplier of suppliers" (click)="onItemClick(supplier.id)">
        {{supplier.name}}
      </div>
    </div>
    <div class="count-wrapper">{{suppliersCounterText}}</div>
  </div>
</div>
<dropdown-close *ngIf="isDropdownVisible" (onClick)="onClose()"></dropdown-close>
