@import "../../../../assets/styles/colors";

.dropdown-close {

}

.supplier-select-wrapper {
  position: relative;
  width: 400px;

  .select-wrapper {
    position: relative;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: $background;
    color: $font-color;

    &:hover {
      cursor: pointer;
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 0.9em;
      font-weight: 400;
      padding: 9px 0;
    }

    .carets-wrapper {
      position: absolute;
      display: flex;
      right: 0;
      padding: 5px 10px;
      flex-direction: column;
      height: 20px;

      fa {
        height: 8px;
        font-size: 0.7em;
      }
    }
  }

  .expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 6;
  }

  .suppliers-dropdown-wrapper {
    position: absolute;
    background: $background-white;
    box-shadow: 0 0 3px 1px $border-color;
    border: 1px solid $border-color;
    border-top: none;
    z-index: 5;
    width: 100%;
    font-size: 0.8em;
    box-sizing: border-box;

    .supplier-input-wrapper {
      padding: 10px 30px;

      input {
        width: calc(100% - 44px); // 20px left padding; 20px right padding; 4px border
        border: 2px solid $border-color-light;
        outline: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 0.9em;
      }
    }

    .results-wrapper {
      .supplier {
        padding: 15px 20px;
        font-weight: 100;
        border-bottom: 1px solid $border-color-light;

        &:hover {
          cursor: pointer;
          color: $font-color-blue;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .selected {
        background: $background-white-selected;

        &:hover {
          color: inherit;
        }
      }
    }

    .count-wrapper {
      color: $font-color-grey;
      padding: 15px 20px;
    }
  }
}