$background: #fbfbfb;
$background-button: #eceeef;
$background-completed: #cae2ed;
$background-white: #fff;
$background-white-selected: #eff0f1;
$background-green: #27a858;
$background-green-selected: #228943;
$background-grey-light: #f1f1f1;

$border-color: #cccccc;
$border-color-grey: #64676b;
$border-color-grey-hover: #393d46;
$border-color-dark: #393d46;
$border-color-dark-hover: #292b32;
$border-color-light: #ebebeb;

$label-grey-color: #64676b;

$font-color-white: #fff;
$font-color: #6b6e71;
$font-header-color: #393d46;
$font-color-black: #000;
$font-color-grey: #999;
$font-color-blue: #009efa;
$font-color-green: #6cb043;

$scrollbar-background: #fff;
$scrollbar-color: #e3e3e3;
$scrollbar-border-color: #e3e3e3;

$navbar-background: #fff;
$navbar-shadow: #ececec;

$side-menu-background: #393d46;
$side-menu-active-background: #5c5e64;
$side-menu-border-color: #8b8c91;
$side-menu-font-color: #fff;
$side-menu-font-color-hover: #fff;
$side-menu-font-color-active-hover: #c0c0c0;
$side-menu-font-color-disabled: #c0c0c0;

$notification-counter-color: #fff;
$notification-counter-icon-color: #8b8c91;
$notification-counter-background: #ff1823;

$navbar-companies-list-color: #628597;
$navbar-companies-list-color-hover: #486677;
