@import "sizes";
@import "colors";

body {
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: $font-size;
  color: $font-color;
  background: $background;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 1px $scrollbar-color;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  -webkit-border-radius: 100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $font-color-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $font-color-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $font-color-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $font-color-grey;
}
